@charset "utf-8";

/* header */
#header .header_top .logo img {
    width: 80px;
    height: 40px;
    margin-top: 20px;
}

#header .header_top .nav .gnb {
    display: none;
}

#header .header_top .nav .menu .language {
    border: none;
    font-size: 1.1rem;
    border-bottom: 1px solid #000;
    margin-right: 20px;
}

#header .header_top .nav .menu .imenu {
  display: block;
  font-size: 1.25rem;
  line-height: 80px;
  padding-right: 30px;
}

/* contents1 */

#contents1 .section1 .sec1text {
  
    font-size: 5rem;
    margin: 0 auto;
    text-align: center;
    
}

/* section2 */

#contents1 .section2 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(./ncimg/whoweare1T.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    animation: change 10s infinite ease-in-out;
}

@keyframes change {
    0% {
        background-image: url(./ncimg/whoweare1T.png);
    }

    20% {
        background-image: url(./ncimg/whoweare2T.png);
    }

    40% {
        background-image: url(./ncimg/whoweare3T.png);
    }

    60% {
        background-image: url(./ncimg/whoweare1T.png);
    }

    80% {
        background-image: url(./ncimg/whoweare2T.png);
    }

    100% {
        background-image: url(./ncimg/whoweare3T.png);
    }
}

#contents1 .section2 .sec2,
#contents1 .section3 .sec3 {
    padding-left: 100px;
    padding-top: 150px;
    position: static;
    
}

#contents1 .section2 .sec2 div {
    font-size: 2.6rem;
   
}


#contents1 .section3 {
    background-image: url(./ncimg/ceoT.png);
}

#contents1 .section3 .sec3 div {
    font-size: 2.8rem;
    color: #000;
    height: 100px;
}

#contents1 .section3 .sec3 p:first-of-type {
    font-size: 1.4rem;
    color: #000;

}

#contents1 .section3 .sec3 p:last-of-type {
    font-size: 0.875rem;
    color: #000;
}

#contents1 .section4 .sec4{
    display: flex;
    flex-direction: column;
  }
 
  #contents1 .section4 .sec4_1{
    width: 100vw;
    height: 100vh;
   background-color: #eee;
  }
  #contents1 .section4 .sec4_1 .sec4item{
    top: 150px;
    animation:none
  }
  #contents1 .section4 .sec4_1 .sec4item > a{
    right: -130px;
  }
  #contents1 .section4 .sec4_2{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(./ncimg/sec4bgT2.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #000;
    
  
  }
  #contents1 .section4 .sec4_2 .sec4item2{
    top: 150px;
  }

 /* footer */

#footer_wrap{
  min-width: 100%;
  height:120px;
  border-top: 1px solid #ccc;
  z-index: 100;
  
}
#footer_wrap .footer{
  
  width: 620px;
  height:120px;
  margin: 0 auto;
  color: #b4b4b4;
  font-size: 0.875rem;
  
}
#footer_wrap .footer > div{
  flex-direction: column;
  flex-wrap: wrap;
}
#footer_wrap .footer .footerlist{
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-weight: 400;
  
  
 
}

#footer_wrap .footer .footericon{
 
  width: 100%;
  height: 40px;
  line-height: 40px;


}
#footer_wrap .footer .footericon .familysite{
  margin-top: 5px;
  margin-left:20px ;
  height: 22px;

}
#footer_wrap .footer .copy{
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left:10px;
  
}