@charset "utf-8";
#header{
  width: 100%;
  height: 60px;
 
}
#header .header_top {
  
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  
  #header .header_top .logo img {
    width: 70px;
    height: 20px;
    margin-top: 20px;
  }
  #header .header_top .nav .menu .language {
    border: none;
    font-size: 0.875rem;
    border-bottom: 1px solid #000;
    height: 60px;
    margin-right: 20px;
  }
  #header .header_top .nav .menu .imenu {
    display: block;
    font-size: 1.2rem;
    line-height: 60px;
    padding-right: 25px;
}
  
  
  /* contents1 */
  #contents1 .section1{
    max-width: 100%;
    height: 568px;
  }
#contents1 .section1 .sec1text {
    font-size: 2.5rem;
   
    position: absolute;
    top: -300px; 
    
  }
    

/* section2 */

#contents1 .section2 {
    max-width: 100% ;
    height: 568px;
   
    background-image: url(./ncimg/Untitled-1M.png);
    
}

@keyframes change {
    0% {
        background-image: url(./ncimg/Untitled-1M.png);
    }

    20% {
        background-image: url(./ncimg/Untitled-2M.png);
    }

    40% {
        background-image: url(./ncimg/Untitled-3M.png);
    }

    60% {
        background-image: url(./ncimg/Untitled-1M.png);
    }

    80% {
        background-image: url(./ncimg/Untitled-2M.png);
    }

    100% {
        background-image: url(./ncimg/Untitled-3M.png);
    }
}

#contents1 .section2 .sec2,
#contents1 .section3 .sec3 {
    padding-left: 20px;
    padding-top: 80px;
    position: static;
}

#contents1 .section2 .sec2 div {
    font-size: 1.5rem;
    line-height: 30px;
    width: 250px;
    height: 70px;
   
}
#contents1 .section2 .sec2 p{
    font-size: 0.875rem;
    color: #fff;
    width: 200px;
    height: 100px;
}

#contents1 .section3 {
  max-width: 100%;
  height: 568px;
    background-image: url(./ncimg/ceoM.png);
}

#contents1 .section3 .sec3 div {
    font-size: 1.6rem;
    color: #000;
    width: 230px;
    height: 50px;
}

#contents1 .section3 .sec3 p:first-of-type {
    font-size: 0.875rem;
    color: #000;
    width: 240px;
    height: 100px;

}

#contents1 .section3 .sec3 p:last-of-type {
    font-size: 0.8rem;
    color: #000;
    width: 230px;
    height: 40px;
    padding-top: 10px;
}

#contents1 .section4 .sec4{
    display: flex;
    flex-direction: column;
  }
  
  #contents1 .section4 .sec4_1{
    width: 100%;
    height:568px;

   
    
   background-color: #eee;
  } 
  #contents1 .section4 .sec4_1 .sec4item{
    position: absolute;
  top: 50px;
  left: 20px;
  }
  #contents1 .section4 .sec4_1 .sec4item > a{
    position: absolute;
    width: 60px;
    top: 140px;
    left: 0px;
  }
  #contents1 .section4 .slider_wrap {
    margin-left: 0;
    max-width: 100%;
    max-height: 40%;
    margin: 0 auto;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  
  #contents1 .section4 .slide > img{
  width: 80%;
  margin: 0 auto;
 
  }
  .slick-dots{
    display: none;
  }
  .slick-prev{
    position: absolute;
    left:35px;
  }
  .slick-next{
    position: absolute;
    right: 35px;
  }
  
  #contents1 .section4 .slide > .textbox {
    position: absolute;
    top: 0px;
    left: 40px;
    font-size: 0.875rem;
  }

  #contents1 .section4 .sec4item > div,
  #contents1 .section4 .sec4item2 > div{
    font-size: 1.6rem;
  }

  #contents1 .section4 .sec4item > p,
  #contents1 .section4 .sec4item2 > p{
    font-size: 0.875rem;
    width: 260px;
    }
  #contents1 .section4 .sec4item > p,
  #contents1 .section4 .sec4item2 > p:nth-of-type(1){
    padding: 20px 0 10px 0;
  }
#contents1 .section4 .sec4item > a{
  font-size: 0.8rem;
  padding: 5px;
}

#contents1 .section4 .sec4_2{
  width: 100%;
  height: 568px;
  position: relative;
  background-image: url(./ncimg/sec4bgM3.png);
  background-repeat: no-repeat;
  background-size:cover; 
  background-position: center;
  
}
#contents1 .section4 .sec4_2 .sec4item2{
  position: absolute;
  top: 50px;
  left: 20px;
}

/* footer */
#footer_wrap{
  min-width: 100%;
  height:120px;
}
#footer_wrap .footer{
  font-size: 0.7rem;
  width: 320px;
  height: 120px;
  padding-left: 10px;
}
#footer_wrap .footer .footerlist{
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-weight: 400;
  padding-top: 10px;
}
#footer_wrap .footer .footerlist > ul > li,
#footer_wrap .footer .footericon > ul > li{
  padding: 2px 5px;
}
#footer_wrap .footer .footericon{
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-top: 35px;
}
#footer_wrap .footer .footerlist{
  flex-direction: column;
}
#footer_wrap .footer .footericon > ul > li > a > img{
  width: 15px;
  height: 15px;
  margin-bottom: 3px;
}
#footer_wrap .footer .footericon > ul > li > a > img:nth-of-type(1),
#footer_wrap .footer .footericon > ul > li > a > img:nth-of-type(2){
  width: 12px;
  height: 14px;
}
#footer_wrap .footer .footericon .familysite{
  margin-top: 5px;
  margin-left:5px ;
  width: 100px;
  height: 20px;
font-size: 0.7rem;
}
#footer_wrap .footer .copy{
  width: 100%;
  height: 20px;
  line-height: 20px;
  padding-left:5px;
  margin-top: 30px;
  font-size: 0.7rem;
}



/* navbox  */
#navbox{
  width: 320px;
  height: 100vh;
  
}
#navbox .box_header{
  height: 50px;
  padding-top: 20px;
  padding-right: 0px;
}
#navbox .box_header .imenu{
  margin-right: 15px;
}

/* boxcontent */
#navbox .box_content{
  margin-left: 10px;
}
#navbox .box_content .cont1,
#navbox .box_content .cont2,
#navbox .box_content .cont3,
#navbox .box_content .cont4,
#navbox .box_content .cont5,
#navbox .box_content .cont6{
  margin: 40px 0 40px 10px;
  font-size: 1.1rem;
}
#navbox .box_content .cont1 > div > a{
  width: 120px;
  height: 35px;
  line-height: 35px;
}
#navbox .box_content .cont1 > div > a,
#navbox .box_content .cont2 > div > a,
#navbox .box_content .cont3 > div > a,
#navbox .box_content .cont4 > div > a,
#navbox .box_content .cont5 > div > a,
#navbox .box_content .cont6 > div > a{
  font-size: 0.6rem;
  text-align: center;
}
#navbox .box_content .cont1 > div > a:first-of-type{
  margin-right:20px;
}

#navbox .box_content .cont2 > div > a,
#navbox .box_content .cont3 > div > a,
#navbox .box_content .cont4 > div > a,
#navbox .box_content .cont5 > div > a,
#navbox .box_content .cont6 > div > a{
  display: inline-block;
  width: 80px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #000;
  margin-top: 30px;
  margin-right: 5px;
  position: relative;
}
/* boxfooter */

#navbox .box_footer{
  padding-left: 0px;
  padding-top: 15px;
}
#navbox .box_footer ul{
  margin-left: 5px;
}
#navbox .box_footer .familysite{
  padding-left: 0px;
  font-size: 0.6rem;
}
#navbox .box_footer ul > li > a{
  padding-top: 10px;
  font-size: 0.6rem;
  padding-left:20px ;
}
#navbox .box_footer .foot2 > li > a:first-of-type{ 
  margin-right: 0px;
}
#navbox .box_footer .foot3 > li:nth-of-type(4){
  margin-right: 10px;
}
#navbox .box_footer .foot3 img{
  width: 12px;
  height: 13px;
  margin-left: 5px;
}
#navbox .box_footer > p{
  margin-left: 25px;
  padding-left: 0px;
  margin-top: 10px;
  font-size: 0.625rem;;
}



