@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

select::-ms-expand {
  display: none
}

#wrap {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  /* overflow-x: hidden; */
  /* overflow: hidden auto; */
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  #contents1 .section2 {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
    background-image: url(./ncimg/whoweare1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    animation: change 10s infinite ease-in-out;
  }

  @keyframes change {
    0% {
      background-image: url(./ncimg/whoweare1.png);
    }

    20% {
      background-image: url(./ncimg/whoweare2.png);
    }

    40% {
      background-image: url(./ncimg/whoweare3.png);
    }

    60% {
      background-image: url(./ncimg/whoweare1.png);
    }

    80% {
      background-image: url(./ncimg/whoweare2.png);
    }

    100% {
      background-image: url(./ncimg/whoweare3.png);
    }
  }
}

#header {
  width: 100%;
  height: 80px;

}

#header .header_top {
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid #000;
}

#header .header_top .nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

#header .header_top .logo img {
  width: 100px;
  height: 50px;
  margin-top: 15px;
}

#header .header_top .nav .gnb {
  width: 1000px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;

}

#header .header_top .nav .menu {
  display: flex;
}

#header .header_top .nav .menu .language {
  border: none;
  border-bottom: 1px solid #000;
  height: 80px;
  margin-right: 0px;
}

#header .header_top .nav .menu .imenu {
  display: none;
  font-size: 1.3rem;
  line-height: 80px;
  padding-right: 30px;

}

#header .header_bottom {

  position: relative;
  border-bottom: 1px solid #000;
  width: 100%;
  padding: 0 0 50px 0;
  background-color: #fff;
  z-index: 100;
}

#header .header_bottom .menu_item>li {
  display: flex;
  height: 80px;
  line-height: 80px;
  padding-top: 30px;
  width: 1300px;
  margin: 0 auto;
  font-weight: 400;
  text-align: right;

}

#header .header_bottom .color {
  color: #004c98;
}

#header .header_bottom .menu_item>li>a {

  width: 180px;
  display: block;
}

#header .header_bottom .menu_item .sub {
  display: flex;
  color: #aaa;
}

#header .header_bottom .menu_item .sub>li>a {
  display: block;
  padding-left: 30px;
}

#header .header_bottom .menu_item>li>a:hover {
  color: #004c98;
}

#header .header_bottom .sub>li>a:hover {
  color: #004c98;
}




/* contents1 */

/* section1 */

#contents1 .section1 {
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  position: relative;
  background-image: url(./ncimg/bg_nc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  z-index: 10;
  overflow: hidden;
}

#contents1 .section1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#contents1 .section1 .sec1 {
  width: 100%;
  height: 100%;
}

#contents1 .section1 .sec1text {
  color: #fff;
  font-size: 6rem;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  z-index: 1;
  white-space: nowrap;
  text-transform: capitalize;
}

#contents1 .section1 .sec1text .parallaxTitle {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#contents1 .section1 .sec1>div>span {
  z-index: 10;
  text-align: center;
  font-weight: bold;
  display: block;
  position: relative;

}


/* section2 */

#contents1 .section2 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url(./ncimg/whoweare1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  animation: change 10s infinite ease-in-out;
}

@keyframes change {
  0% {
    background-image: url(./ncimg/whoweare1.png);
  }

  20% {
    background-image: url(./ncimg/whoweare2.png);
  }

  40% {
    background-image: url(./ncimg/whoweare3.png);
  }

  60% {
    background-image: url(./ncimg/whoweare1.png);
  }

  80% {
    background-image: url(./ncimg/whoweare2.png);
  }

  100% {
    background-image: url(./ncimg/whoweare3.png);
  }
}

#contents1 .section2 .sec2,
#contents1 .section3 .sec3 {

  position: absolute;
  top: 280px;
  left: 80px;

}


.slideshow {
  margin: 0 auto;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.slideshow>div {
  position: absolute;
}

#contents1 .section2 .sec2>div {
  font-size: 3rem;
  color: #fff;
  width: 530px;
  height: 150px;
  line-height: 60px;
  font-weight: bold;
}

#contents1 .section2 .sec2>p {
  font-size: 1.25rem;
  color: #fff;
  width: 500px;
  height: 100px;
}




#contents1 .section3 {
  width: 100vw;
  height: 100vh;
  background-image: url(./ncimg/bg_ceo.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

#contents1 .section3 .sec3 div {
  font-size: 3rem;
  color: #fff;
  width: 530px;
  height: 150px;
  font-weight: bold;
}

#contents1 .section3 .sec3 p:first-of-type {
  font-size: 1.25rem;
  color: #fff;
  width: 500px;
  height: 100px;
}

#contents1 .section3 .sec3 p:last-of-type {
  font-size: 1rem;
  color: #fff;
  width: 500px;
  height: 100px;
  padding-top: 40px;
}


/*  */
#contents1 .section4 {
  width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#contents1 .section4 .sec4 {
  display: flex;

}

#contents1 .section4 .sec4_1 {
  width: 50%;
  height: 100vh;
  position: relative;
  background-color: #eee;
}


#contents1 .section4 .sec4_1 .sec4item,
#contents1 .section4 .sec4_2 .sec4item2 {
  position: absolute;
  top: 100px;
  left: 100px;

}


#contents1 .section4 .sec4_1 .sec4item>a {
  width: 75px;
  position: absolute;
  top: 180px;
  left: 0px;
}

#contents1 .section4 .slider_wrap {
  margin-left: 0;
  max-width: 70%;
  max-height: 50%;
  margin: 0 auto;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#contents1 .section4 .slider_wrap div {
  width: 550px;
  width: 100%;
  height: 250px;
  height: 10%;
  margin: 0 auto;

}

#contents1 .section4 .slide {
  position: relative;
}

#contents1 .section4 .slide>img {
  width: 100%;
}

#contents1 .section4 .slide>.textbox {
  position: absolute;
  top: 0;
  left: 0;
}

#contents1 .section4 .textbox>div {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

#contents1 .section4 .slide>.textbox {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  opacity: 0;
  transition: 3s;
}

#contents1 .section4 .slide.slick-active>.textbox {
  opacity: 1;
}

#contents1 .section4 .sec4_2 {
  width: 50%;
  height: 100vh;
  position: relative;
  background-image: url(./ncimg/sec4bgpc.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}

/*  */

#contents1 .section4 .sec4item>div,
#contents1 .section4 .sec4item2>div {
  font-size: 3rem;
  font-weight: bold;
}

#contents1 .section4 .sec4item>p,
#contents1 .section4 .sec4item2>p {
  font-size: 1.2rem;
  width: 500px;
}

#contents1 .section4 .sec4item>p,
#contents1 .section4 .sec4item2>p:nth-of-type(1) {
  padding: 30px 0 10px 0;
}

#contents1 .section4 .sec4item>a {
  font-size: 1rem;
  display: inline-block;
  padding: 5px;
  border: 1px solid #000;
}







/* slick */
.slick-prev {
  position: absolute;
  left: 5px;
  z-index: 1;
}

.slick-next {
  position: absolute;
  right: 5px;
  z-index: 1;
}


/* footer */

#footer_wrap {
  width: 100%;
  height: 120px;
  border-top: 1px solid #ccc;

}

#footer_wrap .footer {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  color: #b4b4b4;
  font-size: 0.875rem;
}

#footer_wrap .footer>div {
  display: flex;
}

#footer_wrap .footer .footerlist {
  display: flex;
  width: 70%;
  height: 70px;
  line-height: 70px;
  font-weight: 500;

}

#footer_wrap .footer .footerlist>ul {
  display: flex;
}

#footer_wrap .footer .footerlist>ul>li,
#footer_wrap .footer .footericon>ul>li {
  padding: 0 10px;
}

#footer_wrap .footer .footericon {
  display: flex;
  width: 30%;
  height: 70px;
  line-height: 70px;
  padding-top: 6px;

}

#footer_wrap .footer .footericon>ul {
  display: flex;
}


#footer_wrap .footer .footericon .familysite {
  margin-top: 20px;
  margin-left: 20px;
  width: 140px;
  height: 22px;
  border-color: #b4b4b4;
  color: #b4b4b4;
}

#footer_wrap .footer .copy {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  font-size: 0.875rem;

}





/*  */
#navbox {
  display: none;
  width: 645px;
  height: 100vh;
  overflow: auto;
  position: fixed;
  right: 0;
  border: 1px solid #000;
  background-color: #fff;
  z-index: 1000;
}

#navbox .box_header {
  height: 50px;
  padding-top: 30px;
  padding-right: 30px;
}

#navbox .box_header div {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

#navbox .box_language {
  border: none;
  margin-right: 20px;
}

#navbox .box_header .imenu {
  font-size: 1.3rem;
  margin-right: 15px;
}

/* boxcontent */
#navbox .box_content {
  margin-left: 60px;
}

#navbox .box_content .cont1,
#navbox .box_content .cont2,
#navbox .box_content .cont3,
#navbox .box_content .cont4,
#navbox .box_content .cont5,
#navbox .box_content .cont6 {
  margin: 40px;
  font-size: 1.25rem;
  font-weight: bold;
  align-items: center;

}

#navbox .box_content .cont1>div>a,
#navbox .box_content .cont2>div>a,
#navbox .box_content .cont3>div>a,
#navbox .box_content .cont4>div>a,
#navbox .box_content .cont5>div>a,
#navbox .box_content .cont6>div>a {
  font-size: 0.875rem;
  text-align: center;
}

#navbox .box_content .cont1>div>a {
  display: inline-block;
  width: 205px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #000;
  margin-top: 30px;
}

#navbox .box_content .cont1>div>a:first-of-type {
  margin-right: 30px;
}

#navbox .box_content .cont2>div>a,
#navbox .box_content .cont3>div>a,
#navbox .box_content .cont4>div>a,
#navbox .box_content .cont5>div>a,
#navbox .box_content .cont6>div>a {
  display: inline-block;
  width: 140px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #000;
  margin-top: 30px;
  margin-right: 8px;
  position: relative;
}

#navbox .box_content .cont1>div>a:hover,
#navbox .box_content .cont2>div>a:hover,
#navbox .box_content .cont3>div>a:hover,
#navbox .box_content .cont4>div>a:hover,
#navbox .box_content .cont5>div>a:hover,
#navbox .box_content .cont6>div>a:hover {
  background-color: #000;
  color: #fff;
  transition: 0.6s;
}

/* boxfooter */

#navbox .box_footer {
  padding-left: 100px;
  padding: 10px 0 10px 0;
  border-top: 1px solid #aaa;
  color: #aaa;
}

#navbox .box_footer ul {
  display: flex;
  margin-left: 120px;
}

#navbox .box_footer>ul>li>a {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 0.875rem;
}


#navbox .box_footer .footitem {
  display: flex;
  margin-top: 5px;
}

#navbox .box_footer .familysite {
  border-color: #aaa;
  color: #aaa;
  padding-left: 30px;
}

#navbox .box_footer>p {
  margin-left: 120px;
  padding-left: 20px;
  margin-top: 10px;
  font-size: 0.875rem;
  ;
}

#navbox .box_footer .foot3>li:nth-of-type(4) {
  margin-right: 30px;
}

#navbox .box_footer .foot3 img {
  width: 16px;
  height: 15px;
  margin-left: 20px;
}

.navboxbg {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}